spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bd_rh
    username: <TU_USUARIO>
    password: <TU_PASSWORD>
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate.format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration-
